<section class="container-fluid mt-5 mb-5">
  <div class="row justify-content-center p-0">
    <div class="col-md-12 position-relative p-0">
      <%= image_tag("fondo_home.jpg", alt: "fútbol", class: "img-fluid custom-image") %>
      <div class="position-absolute top-0 start-0 p-3 text-white bg-dark bg-opacity-0">
          Avivas, tu marca de indumentaria deportiva.
      </div>
    </div>
  </div>
</section>
<section>
<h2>Novedades</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio vel lorem tristique facilisis. Vivamus eget metus in nunc vulputate placerat. Phasellus vitae odio vitae velit sodales feugiat. Integer euismod, nisi sit amet tristique efficitur, mi felis auctor metus, id dictum dui ipsum ac nisi. Suspendisse potenti. Sed euismod lectus et urna pretium, id tristique erat convallis. Nulla facilisi.</p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Donec lobortis bibendum dolor. In scelerisque, lorem id sollicitudin tincidunt, ligula mi efficitur nulla, id gravida mi velit id nulla. Nam at dolor sit amet nisl varius facilisis. Nunc sollicitudin viverra augue, vel mollis purus egestas id. Sed at quam ac eros fermentum auctor. Nulla facilisi.</p>
<h1>Texto de ejemplo: Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio vel lorem tristique facilisis. Vivamus eget metus in nunc vulputate placerat. Phasellus vitae odio vitae velit sodales feugiat. Integer euismod, nisi sit amet tristique efficitur, mi felis auctor metus, id dictum dui ipsum ac nisi. Suspendisse potenti. Sed euismod lectus et urna pretium, id tristique erat convallis. Nulla facilisi.</p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Donec lobortis bibendum dolor. In scelerisque, lorem id sollicitudin tincidunt, ligula mi efficitur nulla, id gravida mi velit id nulla. Nam at dolor sit amet nisl varius facilisis. Nunc sollicitudin viverra augue, vel mollis purus egestas id. Sed at quam ac eros fermentum auctor. Nulla facilisi.</p>
<h1>Texto de ejemplo: Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio vel lorem tristique facilisis. Vivamus eget metus in nunc vulputate placerat. Phasellus vitae odio vitae velit sodales feugiat. Integer euismod, nisi sit amet tristique efficitur, mi felis auctor metus, id dictum dui ipsum ac nisi. Suspendisse potenti. Sed euismod lectus et urna pretium, id tristique erat convallis. Nulla facilisi.</p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Donec lobortis bibendum dolor. In scelerisque, lorem id sollicitudin tincidunt, ligula mi efficitur nulla, id gravida mi velit id nulla. Nam at dolor sit amet nisl varius facilisis. Nunc sollicitudin viverra augue, vel mollis purus egestas id. Sed at quam ac eros fermentum auctor. Nulla facilisi.</p>
<h1>Texto de ejemplo: Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio vel lorem tristique facilisis. Vivamus eget metus in nunc vulputate placerat. Phasellus vitae odio vitae velit sodales feugiat. Integer euismod, nisi sit amet tristique efficitur, mi felis auctor metus, id dictum dui ipsum ac nisi. Suspendisse potenti. Sed euismod lectus et urna pretium, id tristique erat convallis. Nulla facilisi.</p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Donec lobortis bibendum dolor. In scelerisque, lorem id sollicitudin tincidunt, ligula mi efficitur nulla, id gravida mi velit id nulla. Nam at dolor sit amet nisl varius facilisis. Nunc sollicitudin viverra augue, vel mollis purus egestas id. Sed at quam ac eros fermentum auctor. Nulla facilisi.</p>
<h1>Texto de ejemplo: Lorem Ipsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio vel lorem tristique facilisis. Vivamus eget metus in nunc vulputate placerat. Phasellus vitae odio vitae velit sodales feugiat. Integer euismod, nisi sit amet tristique efficitur, mi felis auctor metus, id dictum dui ipsum ac nisi. Suspendisse potenti. Sed euismod lectus et urna pretium, id tristique erat convallis. Nulla facilisi.</p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla facilisi. Donec lobortis bibendum dolor. In scelerisque, lorem id sollicitudin tincidunt, ligula mi efficitur nulla, id gravida mi velit id nulla. Nam at dolor sit amet nisl varius facilisis. Nunc sollicitudin viverra augue, vel mollis purus egestas id. Sed at quam ac eros fermentum auctor. Nulla facilisi.</p>

</section>

