@import "bootstrap";

.color-letra {
    color: black;
}

.navbar a {
    font-family: Helvetica, Arial, sans-serif;
  }

.estructura-divida{
    display:grid; 
    min-height:100dvh; 
    grid-template-rows: auto 1fr auto;
}


.custom-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover; 
  }


.notice:empty, .alert:empty {
  display: none; 
}

.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}


.producto-imagen {
  height: 300px;  
  object-fit: cover;  
  width: 100%;  
  object-position: center; 

}

.producto-show-imagen {
  height: auto;  
  object-fit: cover;  
  width: 100%;  
  object-position: cover; 

}
.producto-secundario-show-imagen {
  aspect-ratio: 1 / 1; 
  width: 70%;         
  object-fit: cover;  
  border-radius: 5px;  
}


.card:hover .stock-info {
  display: flex !important; 
}