<% content_for :title, "Editar producto" %>

<h1>Editar producto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Mostrar producto", @product %> |
  <%= link_to "Volver a los productos", products_path %>
</div>
